:root {
    --main-color: #00526f;
    --primary-color: #0081b8;
    --theme-color: #00dca6;
    --form-color: #006c94;
    --text-color: #75a7b5;
    --price-color: #bbd3d9;
    --input-color: #a0a1a1;
    --more-color: #95bdc6;
    --center-color: #80aab4;
    --headerbg-color: #d7ecf1;
    --footbg-color: #c9e5ed;
    --color: #e0ecef;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--headerbg-color);
    background-image: url("../image2vector.svg");
    background-repeat: no-repeat;
    background-position: top 245px right;
}

body.ovh {
    overflow: hidden;
}

html[dir="ltr"] body {
    font-family: 'Open Sans', sans-serif;
}

html[dir="rtl"] body {
    font-family: 'GEFlow', sans-serif;
}

html[dir="rtl"] body {
    direction: rtl;
}

html[dir="ltr"] body {
    direction: ltr;
}

.move {
    position: relative;
}

.image a {
    display: block;
}

img {
    max-width: 100%;
    height: auto;
}

@media (max-width:1199px) {

    .swwiper-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        bottom: -35px;
    }
}

.swiper-pagination-bullet-active {
    background-color: var(--theme-color);
}

h2 {
    font-size: 28px;
    margin: 0;
}

h3 {
    font-size: 17px;
    margin: 0;
}

h4 {
    font-size: 14px;
    margin: 0;
}

a {
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 50;
    width: 100%;
    height: 100%;
    transition: all 0.7s ease;
    opacity: 0;
    visibility: hidden;
}

.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
    opacity: 1;
}

.popup.open {
    opacity: 1;
    visibility: visible;
}

/* #side-header {
    position: sticky;
    top: 0;
    width: 100%;
    transition: all 0.3s ease;
    z-index: 100;
    background-color: #FFF;
    box-shadow: 15px 15px 20px rgba(1, 1, 1, 0.1);
}

#side-header.hide {
    top: -120px;
} */

/* Oswald font */
@font-face {
    font-family: 'Oswald';
    font-weight: 600;
    font-style: italic;
    font-display: swap;
    src: url("../fonts/Oswald/Oswald-Demi-BoldItalic.woff2"),
        url("../fonts/Oswald/Oswald-Demi-BoldItalic.woff"),
        url("../fonts/Oswald/Oswald\ Demi-BoldItalic\ 600.ttf");
}

@font-face {
    font-family: 'Oswald';
    font-weight: 400;
    font-style: italic;
    font-display: swap;
    src: url("../fonts/Oswald/Oswald-RegularItalic.woff2"),
        url("../fonts/Oswald/Oswald-RegularItalic.woff"),
        url("../fonts/Oswald/Oswald\ RegularItalic\ 400.ttf");
}

@font-face {
    font-family: 'Oswald';
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/Oswald/Oswald-Regular.woff2"),
        url("../fonts/Oswald/Oswald-Regular.woff"),
        url("../fonts/Oswald/Oswald-Regular.ttf");
}

/* OpenSans font */
@font-face {
    font-family: 'Open Sans';
    font-weight: 900;
    font-display: swap;
    src:
        url("../fonts/OpenSans/OpenSans-ExtraBold.woff2"),
        url("../fonts/OpenSans/OpenSans-ExtraBold.woff"),
        url("../fonts/OpenSans/OpenSans-ExtraBold.ttf");
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 800;
    font-display: swap;
    src:
        url("../fonts/OpenSans/OpenSans-Bold.woff2"),
        url("../fonts/OpenSans/OpenSans-Bold.woff"),
        url("../fonts/OpenSans/OpenSans-Bold.ttf");
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 600;
    font-display: swap;
    src:
        url("../fonts/OpenSans/OpenSans-SemiBold.woff2"),
        url("../fonts/OpenSans/OpenSans-SemiBold.woff"),
        url("../fonts/OpenSans/OpenSans-SemiBold.ttf");
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 500;
    font-display: swap;
    src:
        url("../fonts/OpenSans/OpenSans-Medium.woff2"),
        url("../fonts/OpenSans/OpenSans-Medium.woff"),
        url("../fonts/OpenSans/OpenSans-Medium.ttf");
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/OpenSans/OpenSans-Regular.woff2"),
        url("../fonts/OpenSans/OpenSans-Regular.woff"),
        url("../fonts/OpenSans/OpenSans-Regular.ttf");
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 400;
    font-style: italic;
    font-display: swap;
    src: url("../fonts/OpenSans/OpenSans-Italic.woff2"),
        url("../fonts/OpenSans/OpenSans-Italic.woff"),
        url("../fonts/OpenSans/OpenSans-Italic.ttf");
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 300;
    font-display: swap;
    src: url("../fonts/OpenSans/OpenSans-Light.woff2"),
        url("../fonts/OpenSans/OpenSans-Light.woff"),
        url("../fonts/OpenSans/OpenSans-Light.ttf");
}

/* GEFlow font */
@font-face {
    font-family: 'GEFlow';
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/GEFlow/GEFlow.woff2"),
        url("../fonts/GEFlow/GEFlow.woff"),
        url("../fonts/GEFlow/GEFlow.ttf");
}

@font-face {
    font-family: 'GEFlow';
    font-weight: 400;
    font-style: italic;
    font-display: swap;
    src: url("../fonts/GEFlow/GEFlow-Italic.woff2"),
        url("../fonts/GEFlow/GEFlow-Italic.woff"),
        url("../fonts/GEFlow/GEFlow-Italic.ttf");
}

@font-face {
    font-family: 'GEFlow';
    font-weight: 800;
    font-display: swap;
    src: url("../fonts/GEFlow/GEFlow-Bold.woff2"),
        url("../fonts/GEFlow/GEFlow-Bold.woff"),
        url("../fonts/GEFlow/GEFlow-Bold.ttf");
}

@font-face {
    font-family: 'GEFlow';
    font-weight: 800;
    font-display: swap;
    font-style: italic;
    src: url("../fonts/GEFlow/GEFlow-BoldItalic.woff2"),
        url("../fonts/GEFlow/GEFlow-BoldItalic.woff"),
        url("../fonts/GEFlow/GEFlow-BoldItalic.ttf");
}

/* bahij font */
@font-face {
    font-family: 'bahij';
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/bahij/BahijTheSansArabic-Plain.woff2"),
        url("../fonts/bahij/BahijTheSansArabic-Plain.woff"),
        url("../fonts/bahij/ArbFONTS-Bahij_TheSansArabic-Plain.ttf");
}


html[dir="ltr"] .tooltip-inner {
    width: 65px;
    font-size: 12px;
    width: max-content;
    height: 20px;
    padding: 0 10px;
    border-radius: 0;
    color: #FFF;
    text-align: center;
    background-color: #000;
    font-family: 'Open Sans';
}

html[dir="rtl"] .tooltip-inner {
    width: 65px;
    font-size: 12px;
    width: max-content;
    height: 20px;
    padding: 0 10px;
    border-radius: 0;
    color: #FFF;
    text-align: center;
    background-color: #000;
    font-family: 'GEFlow';
}

@media (min-width:1200px) {
    .container {
        max-width: 1200px;
    }
}

a {
    text-decoration: none;
}

/* Start header */
.header {
    padding: 35px 0;
    position: relative;
}


.header .header__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .header__menu {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.header .header__menu ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.header .header__menu a {
    text-decoration: none;
    font-size: 18px;
    color: var(--main-color);
    transition: all 0.3s ease-in-out;
}

html[dir='rtl'] .header .header__menu a {
    padding: 13px;
}

html[dir='ltr'] .header .header__menu a {
    padding: 5px;
}

.header .header__menu a:hover {
    color: var(--primary-color);
}

.haeder .swiper .image img {
    border-radius: 20px;
}

.header .sign {
    width: 150px;
    height: 45px;
    padding: 0;
    text-align: center;
    line-height: 45px;
    background-color: var(--theme-color);
    border-radius: 40px;
    transition: all 0.3s ease-in-out;
}

html[dir='rtl'] .header .sign {
    margin-right: 15px;
}

html[dir='ltr'] .header .sign {
    margin-left: 10px;
}

.header .sign a {
    width: 100%;
    height: 100%;
    padding: 5px;
    color: #FFF;
    transition: all 0.3s ease-in-out;
}

html[dir='rtl'] .header .sign a {
    font-size: 18px;
}

html[dir='ltr'] .header .sign a {
    font-size: 15px;
}

.header .sign:hover {
    background-color: var(--main-color);
}

.header .sign a:hover {
    color: #FFF;
}

.header .close {
    display: none;
    color: var(--main-color);
    cursor: pointer;
}

.header .open {
    display: none;
    color: var(--main-color);
    font-size: 18px;
    cursor: pointer;
}

.header .user:hover .drop {
    opacity: 1;
    visibility: visible;
}

.header .user .drop {
    padding: 25px;
    width: 200px;
    margin-top: 50px;
    position: absolute;
    background-color: #FFF;
    text-align: center;
    border-radius: 20px;
    display: block;
    z-index: 10;
    border: 1px solid #FFF;
    box-shadow: 0 0 7px rgba(0, 128, 182, .25);
    visibility: hidden;
    opacity: 0;
}

.header .user .drop::before {
    position: absolute;
    content: "";
    left: 50%;
    top: -10px;
    transform: translateX(-50%);
    background-color: #FFF;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    width: 20px;
    height: 10px;
}

.header .user .drop li {
    list-style: none;
    margin-bottom: 5px;
    font-size: 16px;
    padding: 5px 0;
}

.header .user .drop li:not(:last-child) {
    border-bottom: 1px solid #ddf0f4;
}

.header .user .drop ul li a {
    font-size: 16px;
    text-decoration: none;
    color: var(--main-color);
    transition: all 0.3s ease-in-out;
}

.header .user .drop li a:hover {
    color: var(--theme-color);
}


@media (max-width:1199px) {
    .header .lang {
        position: fixed;
        top: 75px;
        z-index: 1555;
        transition: all 0.5s ease;
    }

    html[dir='rtl'] .header .lang {
        right: -300px;
    }

    html[dir='rtl'] .header .lang.open {
        right: 0;
    }

    html[dir='ltr'] .header .lang {
        left: -300px;
    }

    html[dir='ltr'] .header .lang.open {
        left: 0;
    }

    .header .close {
        display: block;
    }

    .header .open {
        display: block;
    }

    .header .header__menu .list {
        position: fixed;
        width: 220px;
        height: 100%;
        padding: 0 15px;
        background-color: #FFF;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        z-index: 1050;
        top: 0;
        bottom: 0;
        transition: all 0.5s ease;
    }

    html[dir='rtl'] .header .header__menu .list {
        right: -220px;
        left: 0;
    }

    html[dir='rtl'] .header .header__menu .list.open {
        right: 0;
        left: 0;
    }

    html[dir='ltr'] .header .header__menu .list {
        left: -220px;
        right: 0;
    }

    html[dir='ltr'] .header .header__menu .list.open {
        left: 0;
        right: 0;
    }

    .header .header__menu ul {
        position: fixed;
        flex-direction: column;
        align-items: flex-start;
        top: 150px;
        transition: all 0.5s ease;
    }

    html[dir='rtl'] .header .header__menu ul {
        right: -220px;
    }

    html[dir='ltr'] .header .header__menu ul {
        left: -220px;
    }

    .header .header__menu ul li {
        margin-bottom: 15px;
    }

    .header .close {
        position: absolute;
        top: 20px;
        transition: all 0.5s ease;
    }

    html[dir='rtl'] .header .close {
        right: -220px;
    }

    html[dir='ltr'] .header .close {
        left: -220px;
    }

    html[dir='rtl'] .header .header__menu ul.open {
        right: 0;
    }

    html[dir='ltr'] .header .header__menu ul.open {
        left: 0;
    }

    html[dir='rtl'] .header .close.open {
        right: 190px;
    }

    html[dir='ltr'] .header .close.open {
        left: 190px;
    }
}

@media (max-width:576px) {
    .header {
        padding: 15px 0;
    }

    .header .header__logo img {
        width: 110px;
    }

    html[dir='rtl'] .header .sign a {
        font-size: 15px;
    }

    html[dir='ltr'] .header .sign a {
        font-size: 12px;
    }
}

/* End header */
/* Start information */
.information {
    padding: 10px 0 75px 0;
}

.information .divid {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.information .swiper {
    padding: 0;
}

.information form {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 30px 15px 35px;
    background: linear-gradient(90deg, rgb(0, 80, 108) 0%, rgb(0, 109, 149) 100%),
        linear-gradient(180deg, rgb(0, 80, 108) 0%, rgb(0, 109, 149) 100%);
    border-radius: 20px;
    flex: 1;
}

.information .label {
    margin: 0 40px;
}

.information form label {
    font-size: 18px;
    color: #FFF;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

html[dir='rtl'] .information form .label-1 {
    margin: 0 40px 0 0;
}

html[dir='rtl'] .information form .label-2 {
    margin: 0 30px 0 0;
}

html[dir='ltr'] .information form .label-1 {
    margin: 0 0 0 25px;
}

html[dir='ltr'] .information form .label-2 {
    margin: 0 0 0 10px;
}

.information .form-check {
    padding: 0 20px;
    margin: auto;
}

.information input[type="search"] {
    width: 100%;
    height: 45px;
    margin: 10px auto 5px;
    font-size: 14px;
    outline: none;
    border-radius: 40px;
    padding: 0 30px;
    border: 1px solid #FFF;
    color: #a0a1a1;
    transition: all 0.3s ease;
}

.information input[type="search"]:focus {
    border: 1px solid var(--main-color);
}

.information .info {
    position: relative;
    width: 315px;
    height: 45px;
    margin: 10px auto 5px;
}

.information .info a {
    display: inline-block;
    width: 100%;
    height: 100%;
    line-height: 45px;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    border-radius: 40px;
    padding: 0 30px;
    color: #FFF;
    background-color: var(--theme-color);
    transition: all 0.3s ease-in-out;
}

.information .info i {
    position: absolute;
    color: #FFF;
    top: 50%;
    transform: translateY(-50%);
    line-height: 45px;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
}

html[dir='rtl'] .information .info i {
    right: 120px;
}

html[dir='ltr'] .information .info i {
    left: 190px;
}

.information .info a:hover {
    background-color: var(--primary-color);
}

.information .radio-item-1 input[type="radio"],
.information .radio-item-1 input[type="checkbox"] {
    display: none;
}

.information .radio-item-1 span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    background-color: #FFF;
    box-shadow: inset 0 1px 4px rgba(1, 2, 2, .5);
}

html[dir='rtl'] .information .radio-item-1 span {
    margin-left: 10px;
}

html[dir='ltr'] .information .radio-item-1 span {
    margin-right: 10px;
}

.information .radio-item-1 span::after {
    content: "";
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #0081b8;
    transition: all 0.3s;
    opacity: 0;
}

.information .radio-item-1 input:checked+span::after {
    opacity: 1;
}

.select2-container {
    width: 100% !important;
    margin: 0 auto 5px;
}

html[dir='rtl'] .select2-container {
    direction: ltr;
}

html[dir='ltr'] .select2-container {
    direction: rtl;
}

.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__arrow,
.select2-container--default[dir="ltr"] .select2-selection--single .select2-selection__arrow {
    display: none;
}

.select2-container--default .select2-selection--single {
    height: 45px;
    direction: ltr;
    border-radius: 40px;
}

html[dir='rtl'] .select2-container--default .select2-selection--single {
    direction: ltr;
}

html[dir='ltr'] .select2-container--default .select2-selection--single {
    direction: rtl;
}

.select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered,
.select2-container[dir="ltr"] .select2-selection--single .select2-selection__rendered {
    padding: 0 30px;
    text-align: end;
    line-height: 45px;
    font-size: 14px;
    background: url("../angle-down-solid.svg");
    background-repeat: no-repeat;
    background-size: 10px;
}

html[dir='rtl'] .select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered {
    background-position: top 12px left 30px;
}

html[dir='ltr'] .select2-container[dir="ltr"] .select2-selection--single .select2-selection__rendered {
    background-position: top 12px right 30px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 26px;
    position: absolute;
    top: 10px;
    width: 20px;
}

html[dir='rtl'] .select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__arrow {
    left: 30px;
}

html[dir='ltr'] .select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__arrow {
    right: 30px;
}

.select2-search--dropdown {
    display: none;
    padding: 0;
}

.select2-results__option {
    padding: 0 30px;
    text-align: right;
}

html[dir='rtl'] .select2-results__option {
    text-align: right;
}

html[dir='ltr'] .select2-results__option {
    text-align: left;
}

.select2-dropdown {
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.2);
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #a0a1a1;
    line-height: 45px;
    font-size: 14px;
    font-family: "GEFlow";
}

html[dir='rtl'] .select2-container--default .select2-selection--single .select2-selection__rendered {
    font-family: "GEFlow";
}

html[dir='ltr'] .select2-container--default .select2-selection--single .select2-selection__rendered {
    font-family: "Open Sans";
}

.select2-container--open .select2-dropdown {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single,
.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.information .swiper-slide img {
    border-radius: 20px;
}

@media (max-width:1199px) {
    .information .label {
        margin: 0 80px;
    }

    html[dir='rtl'] .information form .label-1 {
        margin: 0 80px 0 0;
    }

    html[dir='ltr'] .information form .label-1 {
        margin: 0 0 0 70px;
    }
}

@media (max-width:991px) {
    .information form {
        margin-bottom: 15px;
    }

    .information .info {
        width: 550px;
    }

    .information .label {
        margin: 0 80px;
    }

    html[dir='rtl'] .information form .label-1 {
        margin: 0 175px 0 0;
    }

    html[dir='rtl'] .information form .label-2 {
        margin: 0 80px 0 0;
    }

    html[dir='ltr'] .information form .label-1 {
        margin: 0 0 0 120px;
    }

    html[dir='ltr'] .information form .label-2 {
        margin: 0 0 0 110px;
    }
}

@media (max-width:767px) {
    .information .label {
        margin: 0 40px;
    }

    .information form label {
        margin: 0 125px 0 -90px;
    }

    .information .info {
        width: 450px;
    }

    html[dir='rtl'] .information .info i {
        right: 180px;
    }

    html[dir='ltr'] .information .info i {
        left: 180px;
    }

    html[dir='rtl'] .information form {
        margin-left: 0;
    }

    html[dir='ltr'] .information form {
        margin-right: 0;
    }

    html[dir='rtl'] .information .move {
        margin-right: 0;
    }

    html[dir='ltr'] .information .move {
        margin-left: 0;
    }

    html[dir='rtl'] .information form .label-1 {
        margin: 0 90px 0 0;
    }

    html[dir='rtl'] .information form .label-2 {
        margin: 0 80px 0 0;
    }

    html[dir='ltr'] .information form .label-1 {
        margin: 0 0 0 50px;
    }

    html[dir='ltr'] .information form .label-2 {
        margin: 0 0 0 80px;
    }
}

@media (max-width:576px) {
    .information {
        padding: 10px 0 50px 0;
    }

    .header .logo {
        width: 50px;
        height: 50px;
    }

    .header .text {
        width: 50px;
        height: 40px;
    }

    .header .sign {
        width: 130px;
        height: 40px;
        line-height: 40px;
    }

    .header .sign a {
        font-size: 16px;
    }

    html[dir='rtl'] .information .info i {
        right: 110px;
    }

    html[dir='ltr'] .information .info i {
        left: 110px;
    }


    .information .info {
        width: 300px;
    }

    .information form label {
        margin: 0 30px 0 0;
    }

    html[dir='rtl'] .information form .label-1 {
        margin: 0 35px 0 0;
    }

    html[dir='rtl'] .information form .label-2 {
        margin: 0 40px 0 0;
    }

    html[dir='ltr'] .information form .label-1 {
        margin: 0 0 0 25px;
    }

    html[dir='ltr'] .information form .label-2 {
        margin: 0 0 0 5px;
    }
}

/* End information */
/* Strat offer */
.offer {
    padding-bottom: 50px;
}

.offer h2 {
    text-align: center;
    color: var(--main-color);
    margin-bottom: 20px;
    font-weight: 800;
}

.offer .move {
    position: relative;
}

.offer .swiper {
    padding: 0;
}

.offer .box {
    position: relative;
    background-color: #FFF;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    text-align: center;
    overflow: visible;
}

/* html[dir='rtl'] .offer .box.test {
    margin-left: 0;
}

html[dir='ltr'] .offer .box.test {
    margin-right: 0;
} */

/* html[dir='rtl'] .offer .box {
    margin-left: 30px;
}

html[dir='ltr'] .offer .box {
    margin-right: 30px;
} */

.offer .box__photo {
    margin-bottom: 20px;
}

.offer .box__photo img {
    border-radius: 20px;
    width: 100%;
}

.offer .box__title a {
    text-decoration: none;
}

.offer h3 {
    color: var(--main-color);
    font-weight: 800;
    margin-bottom: 16px;
}

.offer h4 {
    background-color: var(--color);
    height: 30px;
    color: var(--center-color);
    padding: 0 10px;
    margin: 0 auto 14px;
    line-height: 30px;
    border-radius: 20px;
    font-weight: 800;
}

html[dir='rtl'] .offer h4 {
    width: 133px;
}

html[dir='ltr'] .offer h4 {
    width: 175px;
}

.offer .price {
    font-size: 24px;
    font-weight: 600;
    font-family: 'Oswald';
    font-style: italic;
    color: var(--theme-color);
}

.offer .price del {
    color: var(--price-color);
    font-size: 24px;
    font-style: italic;
    font-family: 'Oswald';
    font-weight: 400;
}

html[dir='rtl'] .offer .price del {
    margin-left: 10px;
}

html[dir='ltr'] .offer .price del {
    margin-right: 10px;
}

.offer .go {
    position: absolute;
    bottom: -15px;
    right: 50%;
    transform: translateX(50%);
    background-color: var(--primary-color);
    width: 131px;
    height: 40px;
    border-radius: 20px;
    transition: all 0.5s ease;
}

.offer .go:hover {
    background-color: var(--theme-color);
}

.offer .go a {
    font-size: 18px;
    text-decoration: none;
    color: #FFF;
    line-height: 40px;
}

.offer .cobon {
    display: block;
    border: 1px solid var(--more-color);
    width: 194px;
    height: 39px;
    border-radius: 40px;
    line-height: 39px;
    text-align: center;
    margin: 55px auto 0;
    transition: all 0.3s ease-in-out;
}

.offer .cobon:hover {
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
}

.offer .cobon a {
    display: inline-block;
    text-decoration: none;
    margin: auto;
    font-size: 16px;
    font-weight: 800;
    color: var(--more-color);
    padding: 0 10px;
    transition: all 0.3s ease-in-out;
}

.offer .cobon a:hover {
    color: #FFF;
}

@media(max-width:576px) {

    .offer .box {
        max-width: max-content;
        margin: 0 auto 20px;
    }
}

/* End offer */
/* Start partner */
.partner {
    padding: 30px 0 24px 0;
    background-color: var(--footbg-color);
}

.partner .swiper {
    padding: 0 30px;
}

.partner img {
    width: 83px;
    height: 77px;
    opacity: 60%;
    filter: grayscale(1);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.partner img:hover {
    opacity: 1;
    filter: grayscale(0);
    transition: all 0.3s ease-in-out;
}

@media (max-width:576px) {
    .partner {
        padding: 30px 0 60px 0;
    }

    .partner .swiper {
        padding: 0 15px;
    }
}

/* End partner */
/* Start footer */
.footer {
    position: relative;
    background-color: var(--footbg-color);
}

.footer .cross {
    border-bottom: 1px solid;
    border-top: 1px solid;
    border-color: rgba(0, 82, 111, 0.102);
    padding: 50px 0 40px 0;
}

.footer .about {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    text-align: start;
}

.footer .title {
    font-size: 22px;
    font-weight: 800;
    color: var(--primary-color);
}

.footer .sub-title {
    font-size: 16px;
    font-weight: 800;
    line-height: 24px;
    color: var(--text-color);
}

.footer .fast {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    cursor: pointer;
}

.footer .fast i {
    color: var(--text-color);
}

.footer .speed {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer a {
    display: block;
    text-align: start;
    text-decoration: none;
    font-size: 16px;
    font-weight: 800;
    color: var(--text-color);
    margin-bottom: 10px;
    transition: 0.3s all ease-in-out;
}

html[dir='rtl'] .footer a:hover {
    transform: translateX(-5px);
    color: var(--main-color);
}

html[dir='ltr'] .footer a:hover {
    transform: translateX(5px);
    color: var(--main-color);
}

.footer .image {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding-top: 50px;
}

.footer .photo {
    margin-bottom: 25px;
}

.footer .fast i {
    display: none;
}

@media (max-width:767px) {
    .footer .speed {
        display: none;
    }

    .footer .fast i {
        display: block;
    }
}

@media (max-width:576px) {
    .footer .cross {
        padding: 30px 0 20px 0;
    }

    .footer .image {
        margin-top: 20px;
    }

    .footer .picture {
        margin: auto;
    }
}

/* End footer */
/* Start last-footer */
.last-footer {
    padding: 10px 0;
    background-color: var(--footbg-color);
}

.last-footer .divid {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.last-footer p.text {
    font-size: 14px;
    font-weight: 800;
    color: #5b94a2;
}

.last-footer p.text a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 800;
    color: #5b94a2;
    transition: all 0.3s ease-in-out;
}

.last-footer p.text a:hover {
    color: var(--theme-color);
}

.last-footer .social a {
    text-decoration: none;
}

.last-footer i {
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    color: #FFF;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}

html[dir='rtl'] .last-footer i {
    margin-right: 4px;
}

html[dir='ltr'] .last-footer i {
    margin-left: 4px;
}

.last-footer i.fa-linkedin-in {
    background-color: #0077b5;
}

.last-footer i.fa-google-plus-g {
    background-color: #dd4b39;
}

.last-footer i.fa-twitter {
    background-color: #00acee;
}

.last-footer i.fa-facebook-f {
    background-color: #3b5998;
}

.last-footer i:hover {
    background-color: var(--theme-color);
}

@media (max-width:767px) {
    .last-footer p.text {
        text-align: center;
        margin-bottom: 10px;
    }

    .last-footer .divid {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width:576px) {
    .last-footer {
        padding: 15px 0 25px 0;
    }

    .last-footer p.text {
        margin-bottom: 15px;
    }
}

/* End last-footer */
/* Start register */
.register {
    position: relative;
    margin: 80px 0 50px 0;
    padding: 0 15px;
}

.register .container {
    padding: 90px 15px 60px 15px;
    position: relative;
    background: linear-gradient(0deg, rgb(0, 80, 108) 0%, rgb(0, 109, 149) 100%);
    border-radius: 40px;
}

.register .container::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    height: 75%;
    width: 1px;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.1);
}

.tab {
    position: absolute;
    content: "";
    top: -20px;
}

html[dir='rtl'] .tab {
    right: 70px;
}

html[dir='ltr'] .tab {
    left: 30px;
}

.tab .nav-pills {
    padding: 0;
}

.tab .nav-item {
    width: 200px;
    height: 45px;
}

html[dir='rtl'] .tab .nav-item {
    margin-left: 5px;
}

html[dir='ltr'] .tab .nav-item {
    margin-right: 85px;
}

.tab .nav-item a {
    height: 45px;
    font-size: 14px;
    text-align: center;
    line-height: 30px;
    border-radius: 40px;
    background-color: var(--primary-color);
    text-decoration: none;
    color: #FFF;
}

html[dir='rtl'] .tab .nav-item a {
    width: 200px;
}

html[dir='ltr'] .tab .nav-item a {
    width: 280px;
}

.tab .nav-item a.active {
    background-color: var(--theme-color);
}

html[dir='rtl'] .register form {
    margin-right: 70px;
}

html[dir='ltr'] .register form {
    margin-left: 70px;
}

.register form {
    width: 385px;
}

.register p.title {
    font-size: 20px;
    text-align: start;
    color: var(--theme-color);
    margin-bottom: 50px;
}

.register .form-divid {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.register form label {
    font-size: 16px;
    color: #FFF;
    margin: 15px 20px;
    width: 100%;
    text-align: start;
}

.register form input[type="text"] {
    width: 100%;
    height: 45px;
    outline: none;
    border-radius: 40px;
    border: 1px solid #FFF;
    font-size: 16px;
    color: #000;
    padding: 0 20px 0 50px;
    transition: all 0.3s ease;
}

.register input[type="text"]:focus {
    border-color: var(--main-color);
}

html[dir='rtl'] .register .radio-item-1 input[type="radio"] {
    margin-left: 10px;
}

html[dir='ltr'] .register .radio-item-1 input[type="radio"] {
    margin-right: 10px;
}

.register .select2-container {
    width: 100% !important;
    margin: 0;
}

.register .radio-item-1 a {
    text-decoration: underline;
    color: #5ac6ed;
    font-size: 16px;
    margin: 0 2px;
}

.register .radio-item-1 input[type="radio"],
.register .radio-item-1 input[type="checkbox"] {
    display: none;
}

.register .radio-item-1 span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    background-color: #FFF;
    box-shadow: inset 0 1px 4px rgba(1, 2, 2, .5);
}

html[dir='rtl'] .register .radio-item-1 span {
    margin-left: 10px;
}

html[dir='ltr'] .register .radio-item-1 span {
    margin-right: 10px;
}

.register .radio-item-1 span::after {
    content: "";
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #0081b8;
    transition: all 0.3s;
    opacity: 0;
}

.register .radio-item-1 input:checked+span::after {
    opacity: 1;
}

.register .info-1 {
    width: 140px;
    height: 40px;
    margin-top: 40px;
    transition: all 0.3s ease-in-out;
}

.register .info-1 a {
    display: inline-block;
    text-align: center;
    line-height: 35px;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    text-decoration: none;
    font-size: 18px;
    color: var(--theme-color);
    border: 2px solid var(--theme-color);
    transition: all 0.3s ease-in-out;
}

html[dir='rtl'] .register .info-1 {
    margin-left: 0;
    margin-right: auto;
}

html[dir='ltr'] .register .info-1 {
    margin-right: 0;
    margin-left: auto;
}

.register .info-1 a:hover {
    color: #FFF;
    background-color: #00dca6;
}

.register .click {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.register .info-2 {
    text-align: start;
    margin-top: 30px;
}

.register .info-2 a {
    display: inline-block;
    color: #4da5c5;
    font-size: 14px;
    transition: all 0.3s ease-in-out;
}

.register .info-2 a:hover {
    color: var(--theme-color);
}

.register .info-3 {
    display: inline-block;
    text-align: end;
    width: 140px;
    height: 40px;
    margin-top: 30px;
}

html[dir='rtl'] .register .info-3 {
    text-align: end;
}

html[dir='ltr'] .register .info-3 {
    text-align: start;
}

.register .info-3 a {
    display: inline-block;
    text-align: center;
    line-height: 35px;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    text-decoration: none;
    font-size: 18px;
    color: var(--theme-color);
    border: 2px solid var(--theme-color);
    transition: all 0.3s ease-in-out;
}

.register .info-3 a:hover {
    color: #FFF;
    background-color: #00dca6;
}

.register form .label-8 i,
.register form .label-9 i {
    color: var(--theme-color);
    background-color: var(--primary-color);
    margin: 0 5px;
    border-radius: 50%;
}

.register form input.location {
    background: url("../map-marker-alt-solid.svg") no-repeat;
    background-size: 18px;
    background-color: #FFF;
}

html[dir='rtl'] .register form input.location {
    background-position: top 10px left 20px;
}

html[dir='ltr'] .register form input.location {
    background-position: top 10px right 20px;
}

@media (max-width:991px) {
    .register .container::after {
        display: none;
    }

    .register form {
        width: 70%;
        margin: auto !important;
    }

    .register p.title {
        margin-top: 50px;
    }
}

@media (max-width:767px) {
    .tab .nav-item {
        margin-bottom: 10px;
    }
}

@media (max-width:576px) {
    .register {
        margin: 40px 0 30px 0;
        padding: 0 15px;
    }

    .register .container {
        padding: 75px 15px 30px 15px;
    }

    .register form {
        width: 90%;
        margin: auto !important;
    }

    .tab .nav-item {
        margin-bottom: 10px;
    }

    .register .top {
        border-top: 1px solid var(--theme-color);
        width: 100%;
    }

    .register p.title {
        font-size: 18px;
        margin-top: 35px;
        margin-bottom: 25px;
    }

    .register form label {
        font-size: 14px;
        color: #FFF;
    }

    .register form .label-7 {
        font-size: 12px;
        margin: 20px 0;
    }

    .register .radio-item-1 a {
        font-size: 12px;
    }

    .register .info-1 {
        margin-bottom: 30px;
        width: 100px;
        height: 30px;
    }

    .register .info-3 {
        width: 100px;
        height: 30px;
        margin-top: 15px;
    }

    .register .info-1 a {
        line-height: 25px;
        font-size: 15px;
    }

    .register .info-3 a {
        line-height: 25px;
        font-size: 15px;
    }

    .register .info-2 {
        margin-top: 15px;
    }

    .register .info-2 a {
        font-size: 12px;
    }
}

/* End register */

.header .user a {
    font-size: 16px;
    text-decoration: none;
    color: var(--main-color);
    transition: all 0.3s ease-in-out;
}

.header .user:hover a {
    color: var(--primary-color);
}

.header .user i {
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    background-color: var(--theme-color);
    color: #FFF;
    font-size: 18px;
    border-radius: 50%;
    margin: 0 5px;
    transition: all 0.3s ease-in-out;
}

.header .user img {
    max-width: 100%;
    transition: all 0.3s ease-in-out;
}

.header .user:hover i {
    background-color: var(--primary-color);
}

.header .user:hover image {
    background-color: var(--primary-color);
}

.breadcrumb {
    background-color: transparent;
    margin: 25px 100px;
}

.breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-left: 15px;
    color: #95bdc6;
}

html[dir='rtl'] .breadcrumb-item+.breadcrumb-item::before {
    content: ">";
}

html[dir='ltr'] .breadcrumb-item+.breadcrumb-item::before {
    content: "<";
}

/* Start similar */
.same .similar {
    margin-top: 25px;
    background-color: #FFF;
    border-radius: 20px;
    padding: 30px 0;
    margin-bottom: 15px;
}

.same .similar p.title {
    font-size: 22px;
    font-weight: 800;
    color: var(--main-color);
    text-align: center;
    margin-bottom: 20px;
}

.same .similar .image {
    margin-bottom: 10px;
}

.same .similar p.sub-title {
    font-size: 17px;
    font-weight: 800;
    color: var(--main-color);
    text-align: center;
    margin-bottom: 20px;
}

.same .similar .click {
    width: 130px;
    height: 40px;
    margin: auto;
}

.same .similar .click a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    border-radius: 40px;
    text-decoration: none;
    background-color: var(--main-color);
    transition: all 0.3s ease-in-out;
}

.same .similar .click a:hover {
    background-color: var(--theme-color);
}

.same .divid {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.same form {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    padding: 30px 15px 35px;
    background: linear-gradient(90deg, rgb(0, 80, 108) 0%, rgb(0, 109, 149) 100%),
        linear-gradient(180deg, rgb(0, 80, 108) 0%, rgb(0, 109, 149) 100%);
    border-radius: 20px;
}

.same .label {
    margin: 0 30px;
}

.same form label {
    font-size: 18px;
    color: #FFF;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.same input[type="search"] {
    width: 100%;
    height: 45px;
    margin: 10px auto 5px;
    font-size: 14px;
    outline: none;
    border-radius: 40px;
    padding: 0 30px;
    border: 1px solid #FFF;
    color: #a0a1a1;
    transition: all 0.3s ease;
}

.same input[type="search"]:focus {
    border: 1px solid var(--main-color);
}

.same .info {
    position: relative;
    width: 235px;
    height: 45px;
    margin: 10px auto 5px;
}

.same .info a {
    display: inline-block;
    width: 100%;
    height: 100%;
    line-height: 45px;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    border-radius: 40px;
    padding: 0 30px;
    color: #FFF;
    background-color: var(--theme-color);
    transition: all 0.3s ease-in-out;
}

.same .info i {
    position: absolute;
    color: #FFF;
    top: 50%;
    transform: translateY(-50%);
    line-height: 45px;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
}

html[dir='rtl'] .same .info i {
    right: 82px;
}

html[dir='ltr'] .same .info i {
    left: 92px;
}

.same .info a:hover {
    background-color: var(--primary-color);
}

.same .image img {
    width: 100%;
}

.same .photo:nth-child(1) {
    border-bottom: 1px solid;
    border-color: rgba(0, 82, 111, 0.1);
    padding-bottom: 25px;
}

.same .photo:nth-child(2) {
    padding: 10px 0;
}

.same .similar .click a:nth-child(1) {
    margin-bottom: 25px;
}

.same .clinic {
    display: flex;
    background-color: #FFF;
    border-radius: 20px;
    margin-bottom: 15px;
}

html[dir='rtl'] .same .clinic {
    padding: 35px 15px 20px 20px;
}

html[dir='ltr'] .same .clinic {
    padding: 35px 20px 20px 15px;
}

.same .clinic .image {
    position: relative;
    overflow: hidden;
    width: 100%;
    cursor: pointer;
}

.same .clinic .image img {
    border-radius: 15px;
}

.same .clinic .image .overlay {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    border-radius: 15px;
    background-color: #0c7d9d;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.same .clinic .image .overlay i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: #FFF;
}

.same .clinic .image:hover .overlay {
    opacity: 1;
    visibility: visible;
}

html[dir='rtl'] .same .clinic .image {
    margin-left: 30px;
}

html[dir='ltr'] .same .clinic .image {
    margin-right: 30px;
}

.same .clinic .image img {
    width: 100%;
}

.same .clinic .divid {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.same .clinic .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.same .clinic .content a {
    font-size: 22px;
    font-weight: 800;
    text-decoration: none;
    color: #08313d;
    transition: all 0.3s ease-in-out;
}

.same .clinic .content a:hover {
    color: var(--primary-color);
}

.same .clinic .icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.same .clinic .icon i {
    font-size: 24px;
    color: var(--main-color);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

html[dir='rtl'].same .clinic .icon i {
    margin-left: 15px;
}

html[dir='ltr'].same .clinic .icon i {
    margin-right: 15px;
}

.same .clinic .icon i:hover {
    color: var(--theme-color);
}

.same .clinic .click {
    width: 75px;
    height: 30px;
    background-color: #e0ecef;
    border-radius: 40px;
}

.same .clinic .click a {
    width: 100%;
    height: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 14px;
    border-radius: 40px;
    color: var(--main-color);
    transition: all 0.3s ease-in-out;
}

.same .clinic .click a:hover {
    background-color: var(--theme-color);
    color: #FFF;
    
}

.same .clinic .click:nth-child(2) {
    background-color: #c0d6dc;
    margin: 0 5px;
}

.same .clinic .sub-title {
    font-size: 16px;
    line-height: 24px;
    color: #8e8f8f;
}

.same .clinic .col-9 {
    padding-right: 0;
}

.same .clinic .contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.same .clinic .go {
    display: flex;
    align-items: baseline;
}

.same .clinic .go a {
    font-size: 18px;
    color: #08313d;
    font-family: 'Oswald';
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

html[dir='rtl'] .same .clinic .go a {
    margin-left: 20px;
}

html[dir='ltr'] .same .clinic .go a {
    margin-right: 20px;
}

.same .clinic .go i {
    font-size: 17px;
    color: #0883a7;
}

html[dir='rtl'] .same .clinic .go i {
    margin-left: 10px;
}

html[dir='ltr'] .same .clinic .go i {
    margin-right: 10px;
}

.same .clinic .date {
    width: 120px;
    height: 40px;
    background-color: var(--main-color);
    border-radius: 40px;
    transition: all 0.3s ease-in-out;
}

.same .clinic .date a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
}

.same .clinic .date:hover {
    background-color: var(--theme-color);
}

.same .dots {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 0 70px;
}

.same .page {
    width: 42px;
    height: 42px;
    margin: 0 4px;
}

.same .page a {
    width: 100%;
    height: 100%;
    display: inline-block;
    font-size: 16px;
    text-align: center;
    line-height: 42px;
    font-family: 'bahij';
    text-decoration: none;
    color: #FFF;
    background-color: #08313d;
    border-radius: 50%;
}

.same .page a.active {
    background-color: #0883a7;
}

@media(max-width:767px) {
    .same .info {
        width: 100%;
    }
    .same .clinic {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    html[dir='rtl'] .same .clinic {
        padding: 20px 15px;
    }

    .same .clinic .item {
        flex-direction: column;

    }

    .same .clinic .col-9 {
        padding-right: 15px;
    }

    .same .clinic .content {
        margin-bottom: 10px;
    }

    .same .clinic .contact {
        flex-direction: column;
    }

    .same .clinic .go {
        margin-bottom: 10px;
    }
}

@media (max-width:576px) {
    .breadcrumb {
        display: none;
    }

    .same {
        padding-top: 45px;
    }

    .same .clinic .go {
        flex-direction: column;
    }

    .same .clinic .content {
        margin-top: 10px;
        text-align: center;
    }

    .same .clinic .sub-title {
        text-align: center;
    }

    html[dir='rtl'] .same .clinic .go a {
        margin-left: 0;
    }

    html[dir='ltr'] .same .clinic .go a {
        margin-right: 0;
    }
}

/* End similar */
/* Start single */
.single {
    padding-bottom: 45px;
}

.single .swiper {
    padding: 0;
}

.single .swiper-slide img {
    width: 100%;
    border-radius: 20px;
}

.single .divid {
    background-color: #FFF;
    padding: 25px 5px 140px;
    border-radius: 20px;
}

.single .image {
    margin-bottom: 40px;
}

.single .image img {
    width: 100%;
    border-radius: 20px;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
    left: 15px;
    right: auto;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
    right: 15px;
    left: auto;
}

.swiper .swiper-button-next svg,
.swiper .swiper-button-prev svg {
    stroke: rgb(255, 255, 255);
    opacity: 0.7;
}

.swiper .swiper-button-next:hover svg,
.swiper .swiper-button-prev:hover svg {
    stroke: rgb(255, 255, 255);
    opacity: 1;
}

.single .move .swiper-pagination {
    bottom: 20px;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    display: none;
}

.single .swiper-pagination-bullet {
    width: 13px;
    height: 13px;
    background: #000;
    opacity: .5;
}

.single .swiper-pagination-bullet-active {
    background: #00dca6;
    opacity: 1;
}

.single .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 40px 0 25px;
}

.single .content p.title {
    font-size: 24px;
    font-weight: 800;
    color: #0081b8;
}

.single .icon {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.single .icon i {
    color: var(--main-color);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.single .icon i:hover {
    color: var(--theme-color);
}

.single .icon i.fas.fa-print {
    margin: 0 20px;
}

.single .click-1 {
    width: 75px;
    height: 30px;
    background-color: #c0d6dc;
    border-radius: 40px;
    margin: 0 5px;
}

.single .click-1 a {
    width: 100%;
    height: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 14px;
    color: #76a2ac;
    border-radius: 40px;
    transition: all 0.3s ease-in-out;
}

.single .click-2 {
    width: 85px;
    height: 30px;
    background-color: #e0ecef;
    border-radius: 40px;
}

.single .click-2 a {
    width: 100%;
    height: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 14px;
    color: #80aab4;
    border-radius: 40px;
    transition: all 0.3s ease-in-out;
}

.single .click-1 a:hover,
.single .click-2 a:hover,
.single .click-3 a:hover {
    background-color: var(--theme-color);
    color: #FFF;
}

.single p.sub-title {
    font-size: 17px;
    line-height: 28px;
    color: #8e8f8f;
    margin-bottom: 50px;
    text-align: start;
}

.single .forma {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(162px, 1fr));
    gap: 50px;
}

.single .forma .contact {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.single .forma a {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #0081b8;
    width: 105px;
    height: 105px;
    border-radius: 50%;
    background-color: #0081b8;
    transition: all 0.3s ease-in-out;
}

.single .forma p.text {
    text-align: center;
    font-size: 18px;
    color: #00526f;
    line-height: 24px;
    margin: 20px 0 0 0;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.single .forma p.text:hover {
    color: var(--primary-color);
}

.single .forma .contact a:hover {
    background-color: var(--theme-color);
    border: 1px solid var(--theme-color);
}

.single .select2-container--default .select2-selection--single {
    background-color: #d7ecf1;
    border: 1px solid #d7ecf1;
    border-radius: 40px;
}

.single .date {
    background-color: #FFF;
    border-radius: 20px;
    padding: 63px 0;
    margin-bottom: 35px;
}

.single .photo:first-child {
    padding-bottom: 35px;
    border-bottom: 1px solid rgba(0, 82, 111, 0.1);
}

.single .photo:nth-child(2) {
    padding-top: 20px;
}

.single .photo p.title {
    text-align: center;
    font-size: 22px;
    font-weight: 800;
    color: #00526f;
    margin-bottom: 40px;
}

.single .photo .click {
    width: 100%;
    height: 40px;
    margin-top: 10px;
}

.single .photo .click a {
    width: 100%;
    height: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    text-decoration: none;
    border-radius: 40px;
    color: #FFF;
    background-color: #0081b8;
    transition: all 0.3s ease-in-out;
}

.single .photo .click a:hover {
    background-color: var(--theme-color);
}

.single .date .info {
    padding-top: 30px;
}

.single .date p.sub-title {
    font-size: 18px;
    color: #00526f;
    margin-bottom: 25px;
}

.single .date .icon {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}

.single .date .icon a {
    font-size: 18px;
    font-family: 'bahij';
    color: #08313d;
    margin: 0 0 15px 0;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.single .date .icon i {
    font-size: 15px;
    color: #0883a7;
}

html[dir='rtl'] .single .date .icon i {
    margin-left: 10px;
}

html[dir='ltr'] .single .date .icon i {
    margin-right: 10px;
}

.single .date .icon a:hover {
    color: var(--theme-color);
}


.single .similar {
    background-color: #FFF;
    border-radius: 20px;
    padding: 45px 0;
    margin-bottom: 15px;
}

.single .similar p.title {
    font-size: 22px;
    font-weight: 800;
    color: var(--main-color);
    text-align: center;
    margin-bottom: 20px;
}

.single .similar .image {
    margin-bottom: 10px;
}

.single .similar p.sub-title {
    font-size: 17px;
    font-weight: 800;
    color: var(--main-color);
    text-align: center;
    margin-bottom: 20px;
}

.single .similar .click {
    width: 130px;
    height: 40px;
    margin: auto;
}

.single .similar .click a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    border-radius: 40px;
    text-decoration: none;
    background-color: var(--main-color);
    transition: all 0.3s ease-in-out;
}

.single .similar .click a:hover {
    background-color: var(--theme-color);
}

@media(max-width:767px) {

    .swiper-button-prev,
    .swiper-rtl .swiper-button-next {
        left: 20px;
        right: auto;
    }

    .swiper-button-next,
    .swiper-rtl .swiper-button-prev {
        right: 20px;
        left: auto;
    }

    .single .move .swiper-pagination {
        bottom: 10px;
    }

    .single .content {
        flex-direction: column;
    }

    .single .divid {
        padding: 25px 5px;
        margin-bottom: 25px;
    }
}

@media (max-width:576px) {
    .single {
        padding-top: 45px;
    }

    .single-cumb .breadcrumb {
        display: none;
    }

    .single .forma {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        gap: 30px;
    }

    .single p.sub-title {
        text-align: center;
    }
}

/* End single */
.new .swiper-wrapper {
    flex-direction: row;
}

.new .swiper-slide {
    margin-top: 0 !important;
    margin-bottom: 40px;
}

.similar .box {
    position: relative;
    background-color: #FFF;
    border-radius: 20px;
    text-align: center;
    overflow: visible;
}

.similar .box__photo {
    margin-bottom: 20px;
}

.similar .box__photo img {
    border-radius: 20px;
    width: 100%;
}

.similar .box__title a {
    text-decoration: none;
}

.similar h3 {
    color: var(--main-color);
    font-weight: 800;
    margin-bottom: 16px;
}

.similar h4 {
    background-color: var(--color);
    height: 30px;
    color: var(--center-color);
    padding: 0 10px;
    margin: 0 auto 14px;
    line-height: 30px;
    border-radius: 20px;
    font-weight: 800;
}

html[dir='rtl'] .similar h4 {
    width: 133px;
}

html[dir='ltr'] .similar h4 {
    width: 175px;
}

.similar .price {
    font-size: 24px;
    font-weight: 600;
    font-family: 'Oswald';
    font-style: italic;
    color: var(--theme-color);
}

.similar .price del {
    color: var(--price-color);
    font-size: 24px;
    font-style: italic;
    font-family: 'Oswald';
    font-weight: 400;
}

html[dir='rtl'] .similar .price del {
    margin-left: 10px;
}

html[dir='ltr'] .similar .price del {
    margin-right: 10px;
}

.similar .go {
    position: relative;
    right: 50%;
    transform: translateX(50%);
    background-color: var(--primary-color);
    width: 131px;
    height: 40px;
    border-radius: 20px;
    transition: all 0.5s ease;
}

.similar .go:hover {
    background-color: var(--theme-color);
}

.similar .go a {
    font-size: 18px;
    text-decoration: none;
    color: #FFF;
    line-height: 40px;
}

.similar .cobon {
    display: block;
    border: 1px solid var(--more-color);
    width: 164px;
    height: 39px;
    border-radius: 40px;
    line-height: 39px;
    text-align: center;
    margin: 25px auto 0;
    transition: all 0.3s ease-in-out;
}

.similar .cobon:hover {
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
}

.similar .cobon a {
    display: inline-block;
    text-decoration: none;
    margin: auto;
    font-size: 16px;
    font-weight: 800;
    color: var(--more-color);
    padding: 0 10px;
    transition: all 0.3s ease-in-out;
}

.similar .cobon a:hover {
    color: #FFF;
}

.single .start {
    background-color: #FFF;
    padding: 25px 5px 30px;
    border-radius: 20px;
}

.single .desc {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
}

.single .desc p.title {
    font-size: 24px;
    font-weight: 800;
    color: #0081b8;
}

.single .more {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    margin-bottom: 30px;
}

.single .click-3 {
    width: 133px;
    height: 30px;
    background-color: #c0d6dc;
    border-radius: 40px;
    margin: 0 5px;
}

.single .click-3 a {
    width: 100%;
    height: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 14px;
    color: #76a2ac;
    border-radius: 40px;
    transition: all 0.3s ease-in-out;
}

.single .awsome i {
    font-size: 24px;
    color: #00526f;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.single .more i {
    font-size: 24px;
    color: #00526f;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.single .more i:hover,
.single .awsome i:hover {
    color: var(--theme-color);
}

html[dir='rtl'] .single .more i {
    margin-right: 25px;
}

html[dir='ltr'] .single .more i {
    margin-left: 25px;
}

.single .share {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    padding-top: 15px;
    border-top: 1px solid rgb(227, 227, 230);
}

.single .share p.text {
    font-size: 18px;
    color: var(--main-color);
}

.single .font i {
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 14px;
    border-radius: 50%;
    margin: 0 2.5px;
    color: #FFF;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.single .font i.fa-envelope {
    color: #a8a8a8;
    background-color: #dbdbdb;
}

.single .font i.fa-get-pocket {
    background-color: #ee4056;
}

.single .font i.fa-tumblr {
    background-color: #2c4762;
}

.single .font i.fa-pinterest-p {
    background-color: #ca1f27;
}

.single .font i.fa-linkedin-in {
    background-color: #0077b5;
}

.single .font i.fa-google-plus-g {
    background-color: #dd4b39;
}

.single .font i.fa-twitter {
    background-color: #00acee;
}

.single .font i.fa-facebook-f {
    background-color: #3b5998;
}

.single .font i:hover {
    background-color: var(--theme-color);
}

.single .date p.price {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    font-family: 'Oswald';
    color: #0883a7;
}

.single .date del {
    font-size: 30px;
    font-weight: 400;
    font-family: 'Oswald';
    color: #bdbdbd;
}

html[dir='rtl'] .single .date del {
    margin-left: 5px;
}

html[dir='ltr'] .single .date del {
    margin-right: 5px;
}

@media (max-width:767px) {
    .single .start {
        margin-bottom: 15px;
    }

    .single .desc {
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
    }

    .single .share {
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
        text-align: center;
    }

    .single .font i {
        margin: 2.5px;
    }
}

#map {
    width: 100%;
    height: 100%;
}

.modal-body {
    width: 500px;
    height: 600px;
    text-align: start;
}

.modal-footer {
    margin-top: 30px;
}

.register .modal-body input[type="text"] {
    width: 475px;
    height: 45px;
    outline: none;
    border-radius: 40px;
    border: 1px solid #FFF;
    font-size: 16px;
    color: #000;
    padding: 0 20px;
    background-color: var(--theme-color);
    margin-bottom: 10px;
    transition: all 0.3s ease;
}

.sub .modal-body input[type="text"] {
    width: 475px;
    height: 45px;
    outline: none;
    border-radius: 40px;
    border: 1px solid #FFF;
    font-size: 16px;
    color: #000;
    padding: 0 20px;
    background-color: var(--theme-color);
    margin-bottom: 10px;
    transition: all 0.3s ease;
}

@media (max-width:767px) {
    .register .modal-body input[type="text"] {
        width: 320px;
    }
    
    .sub .modal-body input[type="text"] {
        width: 320px;
    }

    .modal-body {
        width: 350px;
    }
}