@font-face {
    font-family: 'Oswald';
    src: url('Oswald-Regular.woff2') format('woff2'),
        url('Oswald-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bahij TheSansArabic Plain';
    src: url('BahijTheSansArabic-Plain.woff2') format('woff2'),
        url('BahijTheSansArabic-Plain.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

